# =====================
# Python
# =====================

__pycache__/
*.py[cod]
*$py.class

*.so
.Python

# =====================
# Virtual environments
# =====================

venv/
env/
.venv/
ENV/

**/* .rdb
# =====================
# Environment variables
# =====================

.env
.env.*
!.env.example

# =====================
# Database files
# =====================

*.db
*.sqlite
*.sqlite3


# =====================
# Alembic
# =====================

# Keep migrations tracked
# Ignore only generated cache
alembic/__pycache__/

# =====================
# Testing
# =====================

.pytest_cache/
.coverage
htmlcov/
redis_data/**

# =====================
# Type checking
# =====================

.mypy_cache/
.pyright/

# =====================
# IDE
# =====================

.vscode/
.idea/

# =====================
# OS files
# =====================

.DS_Store
Thumbs.db

# =====================
# Logs
# =====================

*.log
logs/

# =====================
# Build files
# =====================

build/
dist/
*.egg-info/

# =====================
# Jupyter
# =====================

.ipynb_checkpoints/
migrations/
alembic.ini
